
<button routerLink="/button">Button</button>
<button routerLink="/button-calender">Button Calender</button>
<button routerLink="/cards">Cards</button>
<button routerLink="/checkbox">CheckBox</button>
<button routerLink="/expansion">Expansion</button>
<button routerLink="/form">Form</button>
<button routerLink="/grid">Grid</button>
<button routerLink="/ripple">Ripple</button>
<button routerLink="/scroll-spy">Scroll-Spy</button>
<button routerLink="/snackbar">SnackBar</button>
<button routerLink="/spinner">Spinner</button>
<button routerLink="/stepper">Stepper</button>
<button routerLink="/table">Table</button>
<button routerLink="/tabs">Tabs</button>

<button routerLink="/about">About</button>
<button routerLink="/contact">Contact</button>