<app-header></app-header>

<h4>Cards  ----------------</h4>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Hello</mat-card-title>
        <mat-card-subtitle>Hi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea labore impedit accusantium omnis blanditiis officia velit maiores exercitationem iste. Ab ipsam omnis nulla esse aliquam saepe obcaecati? Pariatur provident in modi voluptatem repellendus unde soluta porro dicta quas enim optio esse facilis veniam nesciunt nobis laboriosam earum illum, animi deserunt.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button style=
                "background-color:blue; 
                 color:white"> 
            LIKE 
        </button>
        <button mat-button style=
                "background-color:green; 
                 color:white">
            SHARE 
        </button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
</mat-card>