<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

<!-- <mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->


<!-- Year Calender -->
<!-- <mat-form-field color="accent" appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
</mat-form-field> -->


<!-- Disabling part of datepicker -->
<!-- <mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->


<!-- Confirm button -->
<!-- <mat-form-field appearance="fill" class="example-form-field">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="datepicker">
  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-datepicker #datepicker>
    <mat-datepicker-actions>
      <button mat-button matDatepickerCancel>Cancel</button>
      <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
    </mat-datepicker-actions>
  </mat-datepicker>
</mat-form-field> -->

<!-- <app-button></app-button>
<app-cards></app-cards>
<app-checkbox></app-checkbox>
<app-expansion></app-expansion>
<app-form></app-form>
<app-grid></app-grid>
<app-ripple></app-ripple>

<app-snackbar></app-snackbar>
<app-spinner></app-spinner>
<app-stepper></app-stepper>

<app-table></app-table>
<app-tabs></app-tabs>

<app-scroll-spy></app-scroll-spy> -->


<!-- <app-button-calender></app-button-calender> -->


<router-outlet></router-outlet>